[Desktop Entry]
Encoding=UTF-8
Name=https://lingua.com/de/deutsch/lesen/reisen/
Type=Link
URL=https://lingua.com/de/deutsch/lesen/reisen/
Icon=text-html
